<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= @page_title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'main' %>
  <link rel="manifest" href="site.webmanifest">  
  <link type="text/plain" rel="author" href="/humans.txt">
  <meta name="theme-color" content="#fafafa">  
</head>
<body class="<%= @page_classes %>">
  <%= partial 'partials/header' %>
  <%= yield %>
  <%= partial 'partials/footer' %>
</body>
</html>

